.app{
    height: 100%;
}

.popup-container {
    background: #f4f4f4;
    border-radius: 20px;
    padding: 16px;
    box-shadow:
            0 0 70px rgba(1, 153, 242, 0.20),
            0 0 160px rgba(1, 153, 242, 0.15),
            0 0 260px rgba(1, 153, 242, 0.10);
    width: 600px;
    height: 100%;
    box-sizing: border-box;
}

.segmented-switch {
    position: relative;
    width: 220px;
    display: flex;
    background: #e6e6e6;
    border-radius: 20px;
    padding: 4px;
    cursor: pointer;
    user-select: none;
    margin-bottom:  16px;
}

.segment {
    flex: 1;
    text-align: center;
    padding: 6px 0;
    z-index: 2;
    font-size: 14px;
    color: #555;
    transition: color 0.2s;
}

.segment.active {
    color: white;
    font-weight: 600;
}

.slider-bg {
    position: absolute;
    width: 50%;
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
    background: #0199F2;
    border-radius: 20px;
    z-index: 1;
    transition: left 0.25s ease;
}

.slider-bg.right {
    left: calc(50% + 4px);
}
.select-filter {
    position: relative;
    width: calc(100% - 16px);
    margin: 4px;
}
.custom-select {
    display: flex;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    opacity: 1;
    transition: background 0.2s, opacity 0.2s;
}

/* Disabled state */
.custom-select.disabled {
    background-color: rgba(239, 239, 239, 0.3);
    cursor: not-allowed;
    opacity: 0.7;
}

.value-editor {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 1rem 16px 0 4px;
}
.value-textarea {
    height: 100px;
    width: 100%
}

.number-checkbox {
    width: 25%;
    height: 20px;
}

.update-button{
    display: flex;
    justify-content: end;
    align-items: center;
}

.update-btn {
    width: 120px;
    height: 30px;
    background-color: #0199F2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.update-btn:hover {
    background-color: #017BCC;
    transition: background 0.3s;
}

.update-btn:disabled {
   background-color: rgba(239, 239, 239, 0.3);
    color: #888;
    cursor: not-allowed;
}



.apply-btn {
    margin-top: 8px;
}

.textArea-div {
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 6px;
}

.boolean-checkbox {
    align-self: flex-start;
    width: 20px;
    height: 20px;
}

.autocomplete-simple {
    position: relative;
    width: calc(100% - 16px);
    margin: 4px 4px 12px 4px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    opacity: 1;
    transition: background 0.2s, opacity 0.2s;
}

.autocomplete-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.autocomplete-dropdown {
    position: relative;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    max-height: 180px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.autocomplete-item{
    padding: 4px 8px;
    line-height: 1.2;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.autocomplete-input:focus {
    border: 1px solid #0199F2;
    outline: none;
}

.autocomplete-item:hover {
    background-color: #E6F4FF;
}

.group-label {
    color:#6c757d
}